<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.1" targetFramework="net451" />
  <package id="VSSDK.Data.12" version="12.0.2" targetFramework="net451" />
  <package id="VSSDK.IDE" version="7.0.2" targetFramework="net451" />
  <package id="VSSDK.IDE.12" version="12.0.2" targetFramework="net451" />
  <package id="VSSDK.OLE.Interop" version="7.0.2" targetFramework="net451" />
  <package id="VSSDK.Shell.Interop" version="7.0.2" targetFramework="net451" />
  <package id="VSSDK.TextManager.Interop" version="7.0.2" targetFramework="net451" />
</packages>