<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="Bedrock.ConnectionString.Template" providerName="System.Data.SqlClient" connectionString="Server=.;Database=Template;Trusted_Connection=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="Bedrock.Domain.Path" value="C:\Domain\{0}\"/>
    <add key="Bedrock.Domain.IsCleanPath" value="true"/>
    <add key="Bedrock.Domain.IsNetCore" value="true"/>
    <add key="Bedrock.Domain.ActiveBuilders" value="Entity,EntityPartial,Mapping,Context,Service,ServiceInterface,Enumeration,AppContext,Contract,AppService,AppServiceInterface,ControllerApi,ControllerMvc,AutoMapperProfile"/>
    <add key="Bedrock.Domain.Namespace.Shared" value="Bedrock.Shared"/>
    <add key="Bedrock.Domain.Namespace" value="Bedrock.{0}.Domain"/>
    <add key="Bedrock.Domain.File.Extension" value=".cs"/>
    <add key="Bedrock.Domain.CommonKey" value="Id"/>
    <add key="Bedrock.Domain.IsUseCommonKey" value="true"/>
    <add key="Bedrock.Domain.IsIncludeCrud" value="false"/>
    <add key="Bedrock.Domain.IsRecursiveCrud" value="false"/>
    <add key="Bedrock.Domain.IsOpenFolder" value="true"/>
    <add key="Bedrock.Domain.IsCascadeOnDelete" value="false"/>
    <add key="Bedrock.Domain.IsIgnoreRootChildren" value="false"/>
    <add key="Bedrock.Domain.IsUsePropertyInclusions" value="false"/>
    <add key="Bedrock.Domain.IsTracked" value="false"/>
    <add key="Bedrock.Domain.EntityExclusions.Template" value="sysdiagram,C__RefactorLog,syncobj_,v_,vw_"/>
    <add key="Bedrock.Domain.PropertyInclusions.Template" value=""/>
    <add key="Bedrock.Entity.Namespace" value="Bedrock.{0}.Domain.Entity"/>
    <add key="Bedrock.Entity.Type" value="BedrockDeletableIdEntity"/>
    <add key="Bedrock.Entity.PrimaryKeyType" value="int"/>
    <add key="Bedrock.Entity.IsValidatable" value="true"/>
    <add key="Bedrock.Entity.IsIncludeSpatialType" value="false"/>
    <add key="Bedrock.Entity.IsIncludePrimaryKey" value="false"/>
    <add key="Bedrock.Entity.IsIncludeAuditFields" value="false"/>
    <add key="Bedrock.Entity.IsIncludeDeletableFields" value="false"/>
    <add key="Bedrock.Entity.IsIncludeProperties" value="true"/>
    <add key="Bedrock.Entity.IsIncludeCrud" value="false"/>
    <add key="Bedrock.Context.Namespace" value="Bedrock.{0}.Infrastructure.Repository"/>
    <add key="Bedrock.Context.Type" value="BedrockContext"/>
    <add key="Bedrock.Mapping.Namespace" value="Bedrock.{0}.Infrastructure.Repository.Mapping"/>
    <add key="Bedrock.Service.Namespace" value="Bedrock.{0}.Domain.Service"/>
    <add key="Bedrock.Service.Type" value="ServiceBaseDomain"/>
    <add key="Bedrock.Enumeration.Namespace" value="Bedrock.{0}.Domain.Enumeration"/>
    <add key="Bedrock.Contract.Namespace" value="Bedrock.{0}.Service.Contract.Base"/>
    <add key="Bedrock.Contract.Name" value="Contract"/>
    <add key="Bedrock.Contract.Type" value="BedrockDeletableIdModel"/>
    <add key="Bedrock.AppService.Namespace" value="Bedrock.{0}.Service"/>
    <add key="Bedrock.AppService.Type" value="ServiceBaseApplication"/>
    <add key="Bedrock.ControllerApi.Type" value="BedrockApiController"/>
    <add key="Bedrock.ControllerApi.Namespace" value="Bedrock.{0}.Api.Controllers"/>
    <add key="Bedrock.ControllerMvc.Type" value="BedrockMvcController"/>
    <add key="Bedrock.ControllerMvc.Namespace" value="Bedrock.{0}.UI.Controllers"/>
    <add key="Bedrock.Infrastructure.Namespace" value="Bedrock.{0}.Infrastructure"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
